{
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-style":                  [2, "last"],
    "curly":                        [2],
    "eqeqeq":                       [1, "smart"],
    "handle-callback-err":          [2],
    "no-mixed-spaces-and-tabs":     [2, "smart-tabs"],
    "no-sequences":                 [2],
    "no-trailing-spaces":           [2],
    "no-undef":                     [2],
    "no-unused-vars":               [2],
    "semi":                         [1, "always"]
  }
}
