{
  "rules" : {
    "strict"                           : 0,
    "no-underscore-dangle"             : 0,
    "no-multi-spaces"                  : 0,
    "key-spacing"                      : 0,
    "no-shadow"                        : 0,
    "consistent-return"                : 2,
    "no-use-before-define"             : 2,
    "new-parens"                       : 2,
    "no-cond-assign"                   : 2,
    "space-after-keywords"             : 2,
    "space-infix-ops"                  : 2,
    "comma-dangle"                     : [2, "never"],
    "no-multiple-empty-lines"          : [2, {"max": 2}],
    "quotes"                           : [2, "single"],
    "eqeqeq"                           : [2, "smart"],
    "wrap-iife"                        : [2, "inside"],
    "indent"                           : [2, 2],
    "brace-style"                      : [2, "1tbs"],
    "spaced-line-comment"              : [2, "always", {"exceptions":["-","+"]}],
    "space-before-function-parentheses": [2, {
                                            "anonymous" : "always",
                                            "named" : "never"
                                          }]
  },
  "env": {
    "node": true,
    "es6" : true
  }
}
