language: node_js
node_js:
  - "0.12"
  - "0.10"
  - "iojs"
after_script:
  - npm run coverage && cat ./coverage/lcov.info | ./node_modules/.bin/codeclimate
addons:
  code_climate:
    repo_token: 351483555263cf9bcd2416c58b0e0ae6ca1b32438aa51bbab2c833560fb67cc0
